<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link
            rel="icon"
            type="image/x-icon"
            href="{{ url_for('static', filename='home.png') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='index.css') }}"
        />
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link
            rel="stylesheet"
            href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
        />
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    </head>
    <body>
        <div class="card" align="center">
            <div class="card-title">BOOKMARKS</div>
            {% for category, items in bookmarks.items() %}
            <div class="block">
                <h1>{{ category }}</h1>
                {% for item in items %}
                <a href="{{ item.url }}">{{ item.name }}</a>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <div class="card" align="center">
            <div class="card-title">TODO</div>
        </div>

        <div class="card" align="center">
            <div class="card-title">POMODORO</div>
            <div class="clock"></div>
        </div>
    </body>
</html>
