<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link
            rel="icon"
            type="image/x-icon"
            href="{{ url_for('static', filename='home.png') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='index.css') }}"
        />
    </head>
    <body>
        <div class="glowing-circle"></div>

        <div class="ui-container">
            <div class="card" align="center">
                <div class="card-title">BOOKMARKS</div>
                {% for category, items in bookmarks.items() %}
                <div class="block">
                    <h1>{{ category }}</h1>
                    {% for item in items %}
                    <a href="{{ item.url }}">{{ item.name }}</a>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            <div class="card" align="center">
                <div class="card-title">TODO</div>
                <div>
                    <button id="schedule_opt">SCHEDULE</button>
                    <button id="todo_opt">TODO</button>
                    <button id="agenda_opt">AGENDA</button>
                </div>
                <div class="org-container" id="org_container"></div>
            </div>

            <div class="card" align="center">
                <div class="card-title">POMODORO</div>
                <div class="clock" id="clock">
                    <div class="hand" id="hand"></div>
                </div>
            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='js/clock.js') }}"></script>
    <script src="{{ url_for('static', filename='js/todo.js') }}"></script>
</html>
